* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  background-color: lightblue;
  /*display: flex;
        justify-content: space-around; /* for moving div horizontly */
  /*align-items: flex-end; /* for moving div vertically */
}
section div {
  border: 1px solid black;
  padding: 20px;
  /*width: 25%;*/
  flex-basis: 25%; /* width and flex-basis is same but flex-basis gives more flexibility */
}

.flexone {
  background-color: violet;
}
.flextwo {
  background-color: yello;
}
.flexthree {
  background-color: pink;
}

@media (min-width: 768px) {
  section {
    display: flex;
    justify-content: space-around;
  }
}

/* to understand flex-wrap */

.flex-container {
  background-color: pink;
  margin-top: 34px;
  width: 50%;

  display: flex;
  flex-wrap: wrap; /* ek ke niche ek */
}
.flex-container div {
  background-color: lightblue;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px; /* like padding */
  font-size: 30px;
}
