@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600&family=Lato&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.navbar {
	background-color: lightblue;
	width: 100%;
	height: 3rem;
	position: relative;
}

.navbar ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding-left: 50%;
	align-items: center;
}

.navbar ul li{
	margin: 12px;
}

.navbar ul li a {
	text-decoration: none;
	color: black;
}

.navbar ul li i{
	cursor: pointer;
}

#submenu{
	display: flex;
	border: 1px solid red;
	justify-content: center;
}

#submenu li a {
	text-align: center;
}
