<!-- According to css box model every html element is a box === jab bhi hum box-shadow property ka use kerte hai to hame box ubhara hua dikhta hai -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Card</title>
    <link rel="stylesheet" href="./css/card.css" />
  </head>
  <body>
    <!--  card  -->
    <div class="card">
      <img class="card-img" src="https://picsum.photos/270/200" />
      <div class="paradiv">
        <h3>Card Title</h3>
        <p>
          The onmousedown, onmouseup, and onclick events are all parts of a
          mouse-click. First when a mouse-button is clicked, the onmousedown
          event is triggered, then, when is released, the onmouseup event is
          triggered.The onmousedown, onmouseup, and onclick events are all parts
          of a mouse-click. First when a mouse-button is clicked, the
          onmousedown event is triggered, then, when is released, the onmouseup
          event is triggered.
        </p>
      </div>
    </div>
  </body>
</html>
