<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown</title>
</head>
<body>
    <div id="wrapper">
        <h1>Dropdown</h1>
        <input list="list" placeholder="Select your option...">
            <datalist id="list"> <!-- id list must because list="list"-->
                <option value="Pizza"></option>
                <option value="Burger"></option>
                <option value="Chaumin"></option>
            </datalist>
        </input>
    </div>
</body>
</html>