<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Progress Bar</title>
  </head>
  <body>
    <div id="wrapper">
      <label>Progress Bar</label>
      <progress id="progress-bar" max="100" value="0"></progress>
    </div>

    <button onclick="startProgress();">Start</button>

    <script>
      var progressElem = document.querySelector("#progress-bar");

      function startProgress() {
        var interval = setInterval(() => {
          if (progressElem.value === 100) {
            clearInterval(interval);
          }
          console.log(progressElem.value);
          progressElem.value += 5;
        }, 1000);
      }
    </script>
  </body>
</html>
